.img-center {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-user {
  position: absolute;
  top: 30%;
  left: 30%;
}

.form-position {
  position: absolute;
  top: 60%;
  left: 25%;
}
.table-position {
  position: absolute;
  top: 30%;
  left: 30%;
}

h2 {
  position: absolute;
  top: 20%;
  left: 30%;
  color: #007bff;
}

.flash-msg {
  top: 20%;
  left: 28%;
}

.log-out,
.login-link {
  position: absolute;
  top: 10%;
  left: 90%;
}

.error-msg {
  color: red;
}

.note-error {
  display: none;
}
.sign-up-link {
  position: absolute;
  top: 10%;
  left: 80%;
}

.forget-pass-link {
  position: absolute;
  top: 60%;
  left: 30%;
}
